<%= form_for @user, :html=>{class: 'form-horizontal'}, remote: true do |f| %>
	<div class="form-group"> 
       		    <%= f.label :username, class: 'col-md-4 control-label' %>
       		    <div class="col-md-4">
       		        <%= f.text_field :username, class: 'form-control' %>
       		    </div>     
    	</div>
       	<div class="form-group">
		    <%= f.label :password, class: 'col-md-4 control-label' %>
       		    <div class="col-md-4">            
       		        <%= f.text_field :passwd, class: 'form-control' %>
       		    </div> 
       	</div>


	<div class="form-group">
		<%= f.label :user_type, class: 'col-md-4 control-label' %>
		<div class="col-md-4">	
			<%= f.select(:user_type,[['common','common']],{},{:class=>'form-control'}) %>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :job_type, class: 'col-md-4 control-label' %>
        <div class="col-md-4">	
            <%= select_tag :jobtype_id, options_for_select(Jobtype.pluck(:jobtype_name,:id)),{:multiple=>true,:class=>'form-control'} %>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-md-4 col-md-offset-4">
			<%= f.submit 'Submit', class: 'btn btn-success' %>		
			<%= link_to 'Cancel', users_path, class: "btn btn-success" %>
		</div>
	</div>

<% end %>
